body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.container{
    display: flex;
    flex-direction: column;
}
.logo_part{
    height: 200px;
}
.grid_area{
    height: 350px;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}
.content{
    height: 100px;
    width: 600px;
    display: flex;
    flex-direction: row;
}


.sub_content{
    height: 100px;
    width: 600px;
    border: 1px solid black;
    display: flex;

}

.sign_marker{
    font-size: 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.result{
    font-size: 30px;
}
h2{
    font-size: 10px;
    
}

#input_style{
    width: 200px;
    font-size: 20px;
    margin: 10px;
    
}

#input_style:hover{
    background-color: rgb(217, 252, 252);
    cursor: pointer;
}

#input_submit{
    width: 80px;
    font-size: 20px;
   
    
}
#input_submit:hover{
    background-color: rgb(162, 240, 240);
    cursor: pointer;
  
}

#logo_player{
    font-size: 20px;
    font-weight: bold;
}

#selectOption{
    font-size: 20px;
    margin: 10px;
}
#selectOption:hover{
    background-color: rgb(217, 252, 252);
    cursor: pointer;
  
}
#player_1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
#player_2{
    font-size: 20px;
    font-weight: bold;
}
